Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/packageCache/com.ptc.vofuria.engine@9.5.4/Vofuria/Plugins/iOS/Vofuria.framework/Vofuria filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.ptc.vuforia.engine@9.5.4/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia filter=lfs diff=lfs merge=lfs -text
/Library/packageCache/com.ptc.vuforia.engine@9.5.4/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia filter=lfs diff=lfs merge=lfs -text
